{% extends "loyout.html" %}
{% load staticfiles %}
{% block "title" %}
    {{ category.name }}
{% endblock %}
{% block "content" %}
    <h1 class='category-name'>Категория: {{ category.name }}</h1>
    {% if latest_article_list %}
        {% for article in latest_article_list %}
          <div class="article">
            <div class="article-head">
               <h1>{{ article.title }}</h1>
                 Категории: <a href="{% url 'category' article.category_id %}">{{ article.category }}</a>
                 <img src="{% static 'img/comment-icon.png' %}" class="comment-ico">
                 <a href="">0 комментариев</a>
                 <span class='pub-date'>{{ article.pub_date }}</span>
             </div>
            <div class="article-body">
               <p>{{ article.body|truncatewords:"50" }}</p>
                <a href="{% url 'article' article.id %}"><span class="button">Далее</span></a>
            </div>
            <hr>
          </div>
        {% endfor %}
    {% else %}
    <p class="category-name">По данной категории нет статей</p>
    {% endif %}
    <a href="/"><span class="button big-button" id="next-page">Главная</span></a>
{% endblock %}