{% extends "loyout.html" %}
{% load staticfiles %}
{% block "content" %}
    {% if number.back != 0 %}
        {% if latest_article_list %}
            {% for article in latest_article_list %}
              <div class="article">
                <div class="article-head">
                   <h1><a href="{% url 'article' article.id %}">{{ article.title }}</a></h1>
                     Категории: <a href="{% url 'category' article.category_id %}">{{ article.category }}</a>
                     <span class='pub-date'>{{ article.pub_date }}</span>
                 </div>
                <div class="article-body">
                   <p>{{ article.body|truncatewords:"50" }}</p>
                    <a href="{% url 'article' article.id %}"><span class="button">Далее</span></a>
                </div>
                <hr>
              </div>
            {% endfor %}
        <a href="{% url 'num_index' number.back %}"><span class="button back-button" id="next-page"><<  Предыдущая страница</span></a>
        {% endif %}
    {% else %}
        {% for article in latest_article_list %}
              <div class="article">
                <div class="article-head">
                   <h1><a href="{% url 'article' article.id %}">{{ article.title }}</a></h1>
                     Категории: <a href="{% url 'category' article.category_id %}">{{ article.category }}</a>
                     <span class='pub-date'>{{ article.pub_date }}</span>
                 </div>
                <div class="article-body">
                   <p>{{ article.body|truncatewords:"50" }}</p>
                    <a href="{% url 'article' article.id %}"><span class="button">Далее</span></a>
                </div>
                <hr>
              </div>
            {% endfor %}
        <a href="{% url 'index' %}"><span class="button back-button" id="next-page"><<  Предыдуeqwщая страница</span></a>
        {% endif %}
        
{% endblock %}